<div class="center">
  <mat-form-field >
    <mat-label class="mat-label">Choisir un id</mat-label>
    <mat-select  [(ngModel)]="selectedId" >
      <mat-option *ngFor="let id of idsList" [value]="id">
        {{id}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-button color="primary" (click)="generateFile()">Générer</button>
  </div>
  

  <div class="graph">
    <h1>id : {{selectedId}}</h1> 

    <p>response from server {{response?.message}}</p>
    
  </div>